{% extends 'index.html' %}

{% block content %}
<style>
    .formcontainer{
        width:50%;
        height: auto;
        border: 1px solid green;
        margin: auto;
        margin-top: 20px;
        text-align: center;
    }
    .formcontainer input{
        width: 80%;
        padding: 6px;
    }
</style>

<div class="container">
    <div class="formcontainer">
        <h1 style="text-decoration: underline;text-align:center">Add Product</h1>
        {% for message in messages %}
        <h6 style="color:red">{{message}}</h6>
        {% endfor %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <br><br>    
            {% for field in form %}

            {{field.label}}: <br>
            {{field}} <br><br>
            {% endfor %}

            <button class="btn btn-outline-warning btn-sm" type="submit">Add Product</button>
        </form>
    </div>

</div>

{% endblock %}